body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo-section {
width: 60px;
height: 60px;
}
.logo {
width: 100px;
height: 60px;
}
header {
height: 60px;
width: 100%;
opacity: 0.8;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background: black;
display: flex;
align-items: center;
}
.navigation {
margin-left: auto;
margin-right: 150px;
}
.nav-list {
list-style-type: none;
display: flex;
color: white;
overflow: hidden;
height: 60px;
margin: 0;
}
.nav-list > li,.nav-list > div {
margin: 0;
display: flex;
align-items: center;

}

.nav-list > li > a,.nav-list > div > a,nav-list > div{
  
  text-decoration:none;
  color: white;
  opacity: 1;
  border-bottom: 3px solid transparent;
  height: 24px;

  }
.fa{
  margin-left:10px;
}
menu{
position: absolute;
bottom: -130px;
background: white;
padding: 20px;
opacity: 1;
}

/* ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  transition: 0.39s;
}

ul li a:hover {
  color: #74c92d;
}
ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
} */


.nav-list a {
  float: left;
  font-size: 16px;
  color: white;
  margin: 0 24px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  height: 24px;
}
.dropdown-content {
  margin-top:28px;
  display: none;
  position: absolute;
  background-color: white;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.nav-list a:hover {
  border-bottom: 3px solid green;
  text-decoration: none;
  

}
.nav-list a.active {
  border-bottom: 3px solid green;
 }

img{
  width: 100%;
  height: 600px;
}

#about {
  display: flex;
}

.about-img {
  width: 40%;
  min-width: 564px;
}
.about-img > img {
  width: 564px;
  height: 512px;
  margin: auto;
  display: block;
}

.about-content {
  width: 50%;
  font-weight:500;
}

.about-content > h3, .about-content > p {
  text-align: center;
}

.row {
  display: flex;
}

.row-content {
  width: 40%;
  margin: 24px;
  height:120px;
}
.fa-recycle{
  
  color: green;
  font-size:30px;
}
.fa-cubes
{
  color:green;
  font-size:30px;
}
.fa-user-shield
{
  color:green;
  font-size:30px;
}
.fa-file-contract
{
  color: green;
  font-size:30px;
}
#client 
{
  display: flex;
  flex-wrap: nowrap;
  
}
.client > div{
  
  margin:100px;
  text-align:center;
  /* line-height: 75px; */
  font-size: 20px;
  font-weight: 600;
  
}
.fa-smile
{
  color: green;
  font-size:30px;
}
.fa-project-diagram
{
  color: green;
  font-size:30px;
}
.fa-headset
{
  color: green;
  font-size:30px;
}
.fa-users
{
  color: green;
  font-size:30px;
}
/* .im{
  background: url("/assets/img/home.jpg");
  background-repeat: no-repeate;
  background-size: cover;
} */

 


.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: example;
  animation-duration: 6s;
  font-size: 50px;
  font-weight: 600px;
  color: darkgreen;
  font-family: Brush Script MT;
}
@keyframes example {
  0%   {left:0px;}
  50%  {left:650px;}
  
} 
.second{
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 00px;
  font-family:Garamond;
}
